@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.eot?48773789');
    src: url('../fonts/fontello/fontello.eot?48773789#iefix') format('embedded-opentype'),
    url('../fonts/fontello/fontello.woff2?48773789') format('woff2'),
    url('../fonts/fontello/fontello.woff?48773789') format('woff'),
    url('../fonts/fontello/fontello.ttf?48773789') format('truetype'),
    url('../fonts/fontello/fontello.svg?48773789#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    font-family: "fontello";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail::before {
    content: '\e801';
}

.icon-at::before {
    content: '\f1fa';
}

.icon-cc::before {
    content: '\e800';
}

.icon-cc-by::before {
    content: '\e802';
}

.icon-cc-nc::before {
    content: '\e803';
}

.icon-cc-nc-eu::before {
    content: '\e804';
}

.icon-cc-nc-jp::before {
    content: '\e805';
}

.icon-cc-sa::before {
    content: '\e806';
}

.icon-cc-nd::before {
    content: '\e807';
}

.icon-cc-pd::before {
    content: '\e808';
}

.icon-cc-zero::before {
    content: '\e809';
}

.icon-cc-share::before {
    content: '\e80a';
}

.icon-cc-remix::before {
    content: '\e80b';
}

.icon-cog::before {
    content: '\e80d';
}

.icon-twitter::before {
    content: '\f099';
}

.icon-linkedin::before {
    content: '\f0e1';
}

.icon-github::before {
    content: '\f113';
}

.icon-slack::before {
    content: '\f198';
}

.icon-git::before {
    content: '\f1d3';
}

.icon-gitlab::before {
    content: '\f296';
}

.icon-coffee::before {
    content: '\f0f4';
}

