@charset "UTF-8";

/*!
 * Author: Baptiste MOINE <contact@bmoine.fr>
 * Project: Portfolio Timeline
 * Homepage: http://www.bmoine.fr/
 * Released: 21/03/2015
*/

/***********************
 * GENERAL
 * WRAPPER
 * HEADER
 * MAIN
 * FOOTER
***********************/

/* GENERAL
***********************/

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: inherit;
    font-weight: inherit
}

article,
aside,
audio,
canvas,
figcaption,
figure,
figure img,
footer,
header,
hgroup,
main,
nav,
section,
video {
    display: block
}

a img {
    border: 0
}

ol,
ul {
    list-style-type: none
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    /* Alertes Internet Explorer et autres */
    min-height: 100%; /* normal height */
    min-height: 100vh; /* viewport-relative height */
    position: relative;
    font-size: 10px;
    /*-webkit-user-select: none;*/
    /*-ms-user-select: none;*/
    /*-moz-user-select: none;*/
    /*user-select: none;*/
}

body {
    padding: 0 15px 15px;
    background-color: #F1F1F1;
    color: #3E3E3E;
    direction: ltr;
    font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
    font-size: 14px;
/*    font-weight: normal; */
    line-height: 1.5;
    margin: 0;
    min-height: 100%;
    width: 100%;
    text-rendering: optimizelegibility;
}

body:not([id]) {
    cursor: auto !important;
}

*::-moz-selection {
    color: #FFF;
    background-color: #218EB4;
}

*::selection {
    color: #FFF;
    background-color: #218EB4;
}

main {
    min-height: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
/*    font-weight: 200; */
    line-height: 1
}

h1 {
    font-size: 2em;
/*     font-weight: 400; */
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    letter-spacing: -.7px;
}
h1 > .small {
    font-size: .55em;
    color: #386E81;
    display: inline-block;
    vertical-align: middle;
}

h2 {
    font-size: 1.5em;
/*     font-weight: 400; */
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h3 {
    font-size: 1.17em;
/*     font-weight: 400; */
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1em;
/*     font-weight: 700; */
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

h5 {
    font-size: 0.83em;
/*     font-weight: 700; */
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

h6 {
    font-size: 0.67em;
/*     font-weight: 700; */
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

ul ul:not(:last-child),
ul ol:not(:last-child),
ul dir:not(:last-child),
ul menu:not(:last-child),
ul li:not(:last-child),
ol ul:not(:last-child),
ol ol:not(:last-child),
ol dir:not(:last-child),
ol menu:not(:last-child),
ol li:not(:last-child),
dir ul:not(:last-child),
dir ol:not(:last-child),
dir dir:not(:last-child),
dir menu:not(:last-child),
dir li:not(:last-child),
menu ul:not(:last-child),
menu ol:not(:last-child),
menu dir:not(:last-child),
menu menu:not(:last-child),
menu li:not(:last-child) {
    list-style-position: inherit;
    margin-top: 0;
    margin-bottom: 6px;
}

ul,
ol,
menu,
dir {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
    display: block;
}

ul,
menu,
dir {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    display: list-item;
    text-align: match-parent;
}

.i,
i {
    font-style: italic;
}

.u,
u {
    text-decoration: underline;
}

.b,
b,
em {
    font-weight: 700;
}

a[href] {
    color: #126E8E;
    text-decoration: none;
    -webkit-transition: all 100ms linear 0s;
    -moz-transition: all 100ms linear 0s;
    -ms-transition: all 100ms linear 0s;
    -o-transition: all 100ms linear 0s;
    transition: all 100ms linear 0s;
    -webkit-transition-property: color, background-color;
    -moz-transition-property: color, background-color;
    -ms-transition-property: color, background-color;
    -o-transition-property: color, background-color;
    transition-property: color, background-color;
}

a[href]:hover,
a[href]:hover::after,
a[href]:hover::before {
    color: #218EB4;
    text-decoration: none;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.6;
    font-weight: 400;
    text-align: justify;
}

.ellipsis {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

hr {
    background-color: #DE7300;
    display: block;
    width: 80px;
    height: 2px;
    margin: auto;
}

table {
    margin: 15px 0;
    border-collapse: collapse;
}

table th {
    font-weight: bold;
}

table th,
table td {
    border: 1px solid #7E7E7E;
    padding: 6px 13px;
}

table tr {
    border-top: 1px solid #7E7E7E;
    background-color: #F1F1F1;
}

table tr:nth-child(2n) {
    background-color: #D8D8D8;
}

/* WRAPPER
***********************/

.wrapper {
    position: relative;
    overflow: hidden;
    padding: 0 24px;
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    position: relative;
    overflow: hidden;
}

div[class^="col\-"] {
    position: relative;
    min-height: 1px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    -webkit-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;
}

.col-s-1 {
    width: 8.33333333%;
}

.col-s-2 {
    width: 16.66666667%;
}

.col-s-3 {
    width: 25%;
}

.col-s-4 {
    width: 33.33333333%;
}

.col-s-5 {
    width: 41.66666667%;
}

.col-s-6 {
    width: 50%;
}

.col-s-7 {
    width: 58.33333333%;
}

.col-s-8 {
    width: 66.66666667%;
}

.col-s-9 {
    width: 75%;
}

.col-s-10 {
    width: 83.33333333%;
}

.col-s-11 {
    width: 91.66666667%;
}

.col-s-12 {
    width: 100%;
}

@media all and (max-width: 768px) {
    .wrapper {
        padding: 0 15px !important;
    }
}

@media all and (min-width: 992px) {
    .col-m-1 {
        width: 8.33333333%;
    }

    .col-m-2 {
        width: 16.66666667%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33333333%;
    }

    .col-m-5 {
        width: 41.66666667%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33333333%;
    }

    .col-m-8 {
        width: 66.66666667%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33333333%;
    }

    .col-m-11 {
        width: 91.66666667%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media all and (min-width: 1200px) {
    .col-l-1 {
        width: 8.33333333%;
    }

    .col-l-2 {
        width: 16.66666667%;
    }

    .col-l-3 {
        width: 25%;
    }

    .col-l-4 {
        width: 33.33333333%;
    }

    .col-l-5 {
        width: 41.66666667%;
    }

    .col-l-6 {
        width: 50%;
    }

    .col-l-7 {
        width: 58.33333333%;
    }

    .col-l-8 {
        width: 66.66666667%;
    }

    .col-l-9 {
        width: 75%;
    }

    .col-l-10 {
        width: 83.33333333%;
    }

    .col-l-11 {
        width: 91.66666667%;
    }

    .col-l-12 {
        width: 100%;
    }
}

/* HEADER
***********************/

div#header div.wrapper div.row h1 {
    min-width: 130px;
}

div#header div.wrapper div.row ul {
    padding-left: 0;
}

div#header div.wrapper div.row ul li {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

div#header div.wrapper div.row ul li:not(:last-child) {
    margin-right: 5px;
}

div#header div.wrapper div.row ul li a {
    text-decoration: none !important;
    color: #3E3E3E;
    position: relative;
    display: block;
    line-height: 1.6em;
    padding: 1.4em 10px;
}

div#header div.wrapper div.row ul li a.active {
    font-weight: 700;
}

div#header div.wrapper div.row ul li a:hover {
    color: #4078c0;
}

/* MAIN
***********************/

div#main div.wrapper {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    display: flex;
}

div#main div.wrapper div.row h2,
div#main div.wrapper div.row p,
div#main div.wrapper div.row {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

div#main div.wrapper div.row p {
    font-size: 1.15em;
}

a#main-button {
    color: #F9F9F9;
    position: relative;
    display: inline-block;
    line-height: 1.6em;
    padding: 1.4em 10px;
    background-color: #337ab7;
    text-transform: uppercase;
}

a#main-button:hover {
    background-color: #DE7300;
}

input[type="password"],
input[type="submit"],
input[type="file"],
input[type="text"],
input[type="url"],
textarea,
select {
    border: 1px solid #D8D8D8;
    padding: 6px 12px;
    font-size: 1em;
    font-weight: 400;
    vertical-align: middle;
    transition: all .3s ease;
    background-color: #F9F9F9;
}

input[type="password"],
input[type="submit"],
input[type="file"],
input[type="text"],
input[type="url"] {
    white-space: nowrap;
}

input[type="submit"],
input[type="file"] {
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
}

input[type="submit"]:hover,
input[type="file"]:hover {
    background-color: #F1F1F1;
}

form > fieldset {
    padding: 15px;
}

form > fieldset > * {
    display: block;
}

form > fieldset > *:not(:last-child) {
    margin-bottom: 15px;
}

/* FOOTER
***********************/

div#footer {
    display: block;
    background-color: #232D32;
    overflow: hidden;
    color: #F1F1F1;
    position: absolute;
    bottom: 0;
    left: 0;
    /* padding: 40px 0; */
    width: 100%;
}

div#footer div.wrapper div.row div[class^="col\-"] {
    text-align: center;
    margin: 0 auto 20px;
    padding: 0 25px;
    vertical-align: top !important;
}

div#footer a[href] {
    color: #DE7300;
}

div#footer a[href]:hover,
div#footer a[href]:hover::after,
div#footer a[href]:hover::before {
    color: #F3A01D;
}

div#footer p.legal {
    text-align: center;
}

div#footer p.legal a.icons {
    display: block;
}

div#footer p.legal a.icons i[class^="icon-"]::before {
    display: inline-block;
    font-size: 28px !important;
    color: #F1F1F1;
    visibility: visible !important;
}

div#footer p.legal a.icons i[class^="icon-"]:not(:last-child)::before {
    margin-right: 5px;
}

